.card-img-top {
  max-height: 315px;
  object-fit: contain;
  transition: transform .9s;
}

.card-img-top:hover {
  transform: scale(1.07);
}

.card-footer {
  background-color: white;
  border-top: none;
}
